<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/madlibs.css">
        <title>A Madlibs Game</title>
    </head>
    <body>
        <form action="/madlib">
            Enter a name: 
            <input type="text" name="name">
            </br>
            Pick a color:
            <select name="color">
                <option value="orange">Orange</option>
                <option value="blue">Blue</option>
                <option value="pink">Pink</option>
            </select>
            </br>
            Pick 3 noun:
            </br>
            <input type="text" name="noun"></br>
            <input type="text" name="noun_two"></br>
            <input type="text" name="noun_three">
            </br>
            Pick 4 adjectives:
            </br>
            <input type="text" name="adjective"></br>
            <input type="text" name="adjective_two"></br>
            <input type="text" name="adjective_three"></br>
            <input type="text" name="adjective_four">
            </br>
            Pick 1 verb:
            <select name="verb">
                <option value="swim">Swim</option>
                <option value="learn">Learn</option>
                <option value="eat">Eat</option>
            </select>
            </br>   
            What's the weather like:
            <input type="checkbox" name="weather" value="rainy">Rainy
            <input type="checkbox" name="weather" value="sunny">Sunny
            <input type="checkbox" name="weather" value="warm">Warm
            </br>
            <input type="submit">
        </form>    
    </body>
</html>